/**Fonts**/
/* @font-face {
	font-family: 'poppinsregular';
    src: url('fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

/**Header ~ Footer CSS**/
body {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
}
body a,
body a:hover {
	color: unset;
	text-decoration: none;
}
body a:hover {
	color: #4a4a4a;
}
h1, h2, h3, h4, h5 {
    font-weight: 800;
}
h1,h2 {
    margin-bottom: 20px;
}
button {
	border-style: none;
}
.dropdown-item.active, 
.dropdown-item:active {
    color: #018343;
    text-decoration: none;
    background-color: #e9ecef;
}
.container-finance{
	padding: 15px 3em;
}
.header-section {
	padding: 5px 0;
	position: relative;
    z-index: 2;
}
.navbar-nav {
	width: 100%;
}
nav.menu-finance {
    display: inline-block;
    width: 89%;
}
.header-section .menu-finance .nav-link {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	color: #4A4A4A;
	padding: 0;
	flex: auto;
	position: relative;
}
.header-section a.btn-login {
    display: inline-block;
    width: 10%;
    position: relative;
}
.header-section .menu-finance .nav-link.active {
    color: #018343;
}
.nav-link img.icon-down-arrow {
    width: 10%;
}
.btn-login img {
	width: 100%;
	position: absolute;
    left: 0;
    top: -1px;
}
.btn-login .login-txt {
    position: relative;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 34px;
}
.menu-dropdown ul.dropdown-menu {
    background: #97E670;
    border: none;
    border-radius: 0;
}
.menu-dropdown ul.dropdown-menu li {
	border-bottom: 0.5px solid #DEDEDE;
}
.menu-dropdown ul.dropdown-menu li:last-child {
	border-bottom: none;
}
.menu-dropdown ul.dropdown-menu li a {
	color: #018343;
}

button.navbar-toggle {
    display: none;
}

.container-footer {
    margin-top: 2em;
}
.footer-section {
	background: #F5F5F5;
	padding: 30px 50px 25px;
}
.footer-section ul {
	list-style: none;
}
.footer-section a.footer-link {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
    display: inline-block;
}
.footer-section .txt-login a {
	color: #018343;
	font-weight:800;
}
.footer-section span.social-icon,
.footer-section li {
    position: relative;
}
.footer-social-menu li.footer-social-item {
	color: #fff;
    font-size: 13px;
	margin: 15px 0 20px;
}
.footer-section span.social-icon {
	background: url(../images/bg-social.png) no-repeat;
    background-size: 100% 100%;
    width: 74%;
    height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    line-height: 48px;
    margin: 0 auto;
}
.footer-section span.social-icon img {
    width: 25px;
	height: 25px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: -5px;
}
.footer-section span.icon-social {
    display: inline-block;
    width: 50px;
}
.footer-section span.icon-social img {
    width: 50px;
	height: 50px;
    margin-left: 40px;
	margin-top: 0px;
}

/** Home CSS**/
.txt-scroller {
  height: 60px;
  margin-top: 25px;
  overflow: hidden;
  position: relative;
}
.txt-scroller::before {
	top: 0;
	left: 0;
	z-index: 1;
	width: 65%;
    content: '';
    height: 1px;
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 142, 113, 0), #f5f5f5);
}
.txt-scroller::after {
	left: 0;
	bottom: 0;
	z-index: 1;
	width: 65%;
    content: '';
    height: 3px;
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 142, 113, 0), #f5f5f5);
}

.txt-scroller ul {
  margin: 0;
  padding: 0;
  -webkit-animation: scrollUp 10s linear infinite;
          animation: scrollUp 10s linear infinite;
}
.txt-scroller ul li {
  opacity: 1;
  padding: 10px 0;
  list-style: none;
}

@-webkit-keyframes scrollUp {
  from {
    -webkit-transform: translateY(1%);
            transform: translateY(1%);
  }
  to {
    -webkit-transform: translateY(-90%);
            transform: translateY(-90%);
  }
}

@keyframes scrollUp {
  from {
    -webkit-transform: translateY(1%);
            transform: translateY(1%);
  }
  to {
    -webkit-transform: translateY(-90%);
            transform: translateY(-90%);
  }
}

.section-home {
    position: relative;
    z-index: 1;
	padding-top: 4em;
}
button.btn-36h {
    background: url(../images/btn-slide.png);
    display: block;
    background-size: 100% 100%;
    height: 78px;
    width: 35%;
    font-weight: bold;
    font-size: 23px;
    line-height: 86px;
    text-align: center;
    color: #018343;
}
.content-slider {
    margin: 2em 0 4em 3em;
}
.btn-slider {
    padding-left: 3em;
}
.content-slider p,
.txt-scroller ul li{
    font-weight: bold;
    font-size: 41px;
    line-height: 61px;
    color: #018343;
    word-spacing: 4px;
    margin-bottom: 8px;
}
.section-home .img-home .img-clover {
    width: 92%;
	position: relative;
    z-index: 2;
}
.section-home .img-shadow-clover {
    position: absolute;
    left: 0px;
    top: 32%;
    width: 40%;
}
.section-home .img-clover-mobile {display: none;}
.section-overlay {
    background: url(../images/slider-bg.png) no-repeat;
    height: 750px;
    width: 82%;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.img-home-card img {
    width: 100%;
    position: relative;
    right: -48px;
    top: 0;
    z-index: 1;
}
.section-card {
    padding-top: 9em;
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
	margin-bottom: 60px;
}
.section-card > div {
    flex: 50%;
}
.card-icon {
    display: inline-block;
    position: relative;
}
.vector-bg {
    width: 68%;
}
.card-vector {
    position: absolute;
    top: 9px;
    left: 9px;
    right: 0;
    z-index: 1;
    width: 35%;
    text-align: center;
}
.section-card-right {
    margin-top: 28px;
}
.card-block{
	position: relative;
    right: -7.5em;
    z-index: 2;
}
.section-home-card {
    margin: 3.7em 0 6em;
}
.home-card {
	width: 90%;
    background: #F5F5F5;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 16%);
    border-radius: 30px;
    display: inline-block;
	padding: 30px;
    margin-bottom: 35px;
	min-height: 270px;
	position: relative;
}
.home-card .img-card-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}
.home-card h4 {
    font-size: 18px;
    font-weight: bold;
	margin: 20px 0 1rem;
}
.home-card p {
    font-size: 14px;
}
.card-button {
	display: inline-block;
    padding-left: 20px;
	position: relative;
}
.card-button > img {
    position: absolute;
    width: 94%;
    top: -15px;
    left: 26px;
    z-index: -1;
}
.card-block button.btn-card {
    background: url(../images/card-bg2.png) no-repeat;
    background-size: 100% 100%;
    padding: 0 50px;
    color: #018343;
    font-weight: bold;
    font-size: 26px;
    line-height: 74px;
}
.home-address {
	position: relative;
	margin-bottom: 5em;
}
.content-add {
	width: 85%;
    display: inline-block;
	margin-top: -15px;
}
.content-add p {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    line-height: 80px;
}
.inner-address-block {
    background: url(../images/section-address.png) no-repeat;
    background-size: 100% 100%;
	min-height: 500px;
	margin-right: -48px;
	padding: 5em 6em 5em 10em;
}
.inner-address-block > img {
    width: 8%;
	display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
button.add-info {
    background: url(../images/btn-add-info.png) no-repeat;
    background-size: 100% 100%;
    font-weight: bold;
    color: #fff;
    padding: 30px 20px 15px;
    width: 68%;
	margin-top: 30px;
}
button.add-info a {
	font-size: 25px;
    line-height: 50px;
}
.unser-team {
    width: 95%;
    margin: 0 auto 3em;
}
.unser-team h2 {
    color: #4A4A4A;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    margin-bottom: 1em;
}
.unser-team .unser-card {
    height: auto;
    width: 300px;
	background: url(../images/unser-border.png) no-repeat;
	background-size: 100% 100%;
    margin: 0 auto;
    display: block;
	text-align: center;
}
.unser-card img {
    position: relative;
    top: 15px;
    left: -15px;
}
.team-btn {
	background: url(../images/btn-unser.png) no-repeat;
	background-size: 100% 100%;
	color: #018343;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	margin-top: 1.5em;
    margin-bottom: 1em;
    display: inline-block;
    padding: 15px;
    width: 85%;
}
.unser-card h5.card-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 63px;
    margin: 20px 0 0;
}
.unser-card p.card-text {
    color: #4A4A4A;
	width: 80%;
    margin: 0 auto;
	min-height: 50px;
}
.home-footer-address,
.unser-team-mobile {
	display: none;
}

/**Baufinanzierung**/
.container-page-content {
    margin-top: 20px;
}
.page-summary {
    background: url(../images/title-bg.png) no-repeat;
    background-size: 100% 100%;
    padding: 6em 6em 9em 8em;
	position: relative;
    left: -12px;
}
.container-page-content h2.page-title {
    font-weight: bold;
    font-size: 45px;
    line-height: 68px;
    color: #FFFFFF;
	margin-bottom: 40px;
}
.page-content {
    position: relative;
    z-index: 1;
}
.page-content p,
.page-content li {
    font-weight: 500;
    font-size: 21px;
    line-height: 36px;
    color: #FFFFFF;
	margin-bottom: 0;
}
.page-content ul {
	list-style: none;
}
.summary-shadow {
    position: absolute;
    bottom: 0;
    left: 0;
	z-index: 0;
}
.photo-family .img-family {
    width: 80%;
	margin-top: 5em;
	position: relative;
    left: 21.9%;
}
.baufina-list-content {
	background: url(../images/baufina-list-bg.png) no-repeat;
    background-size: 100% 100%;
	margin-top: 8em;
	margin-right: -12px;
}
ul.baufina-list {
    padding: 5em 0 2em 6em;
    list-style: none;
}
ul.baufina-list li {
    font-weight: 500;
    font-size: 32px;
    line-height: 2.8em;
    color: #4A4A4A;
}
ul.baufina-list li:before,
ul.ansch-list li:before {
	background: url(../images/list-icon.png) no-repeat;
    background-size: 100% 100%;
	content: '';
	width: 28px;
    height: 28px;
    display: inline-block;
	margin-right: 1.4em;
    vertical-align: -2px;
}
.termin-button {
    margin: 7em auto;
    text-align: center;
}
button.btn-termin {
	background: url(../images/btn-termin.png) no-repeat;
    background-size: 100% 100%;
	font-weight: bold;
	font-size: 30px;
	line-height: 125px;
    text-align: center;
    color: #97E66F;
    width: 74%;
    height: 110px;
    display: inline-block;
}
.page-accordian h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #4A4A4A;
    margin: 1em 0;
}
.container-page-content .accordion-item {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 16%);
    border-radius: 0px 48px 48px 48px;
	border: none;
    margin-bottom: 25px;
}
.container-page-content button.accordion-button {
    background: #F5F5F5;
    border-radius: 0px 48px 48px 48px !important;
	font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #4A4A4A ;
	padding: 0;
}

.container-page-content button.accordion-button:before {
	background: url(../images/acc-icon.png) no-repeat;
    background-size: 100% 100%;
	content: '';
	width: 60px;
    height: 60px;
    display: inline-block;
	margin-right: 35px;
}
.container-page-content button.accordion-button:after {
    background: url(../images/minus.png) no-repeat;
    background-size: 100% 100%;
    content: '';
    width: 28px;
    height: 5px;
    display: inline-block;
    position: absolute;
    left: 16px;
}
button.accordion-button[aria-expanded="true"]:after{
   background: url(../images/plus.png) no-repeat;
   background-size: 100% 100%;
	content: '';
	width: 28px;
    height: 28px;
    display: inline-block;
	position: absolute;
    left: 16px;
}
.accordion-body ul {
    padding: 10px 10px 10px 6em;
}
.accordion-body h5 {
	font-weight: bold;
	padding: 10px 10px 0 3.7em;
    margin-bottom: 0;
}
.accordion-body li,
.accordion-body h5 {
    font-size: 20px;
    line-height: 37px;
    color: #4A4A4A;
}
div#accList {
    width: 80%;
    margin: 0 auto;
}
button.btn-acc {
    background: url(../images/btn-accordian.png) no-repeat;
    background-size: 100% 100%;
	font-weight: bold;
    font-size: 30px;
    line-height: 110px;
    text-align: center;
    color: #97E66F;
    width: 45%;
    height: 100px;
	margin: 35px 0;
}
button.btn-acc a {
	color: #97E66F;
}
.accordian-btn {
    width: 80%;
    margin: 0 auto;
}

/**Anschlussfinanzierung**/
.ansch-content-full {
	width: 84%;
	background: url(../images/ansch-bg.png) no-repeat;
    background-size: 100% 100%;
	padding: 6em 6em 9em 8em;
	position: relative;
	left: -12px;
}
.ansch-content {
	margin-bottom: 3em;
}
.page-content ul.ansch-list li:before {
	background: url(../images/ansch-list-icon.png) no-repeat;
}
ul.ansch-list {
    margin: 5em 0;
	padding-left: 0;
}
ul.ansch-list li {
    margin: 1.5em 0;
}
button.btn-ansch,
button.btn-projekt {
	background: url(../images/btn-ansch.png) no-repeat;
    background-size: 100% 100%;
	font-weight: bold;
	font-size: 30px;
    line-height: 4.2em;
    text-align: center;
    color: #018343;
    width: 480px;
    height: 110px;
    display: inline-block;
	margin: 2em 5em;
}
.ansch-accordian button.btn-acc {
	margin-top: 0;
}
/**36hzusage**/
.container-page-content .hzusage-content-full h2.page-title,
.container-page-content .hzusage-content-full .page-content p {
	color: #4A4A4A;
}
.hzusage-content-full {
    width: 72%;
    margin: 0 auto;
    text-align: center;
}
.hzusage-footer {
    width: 80%;
    margin: 4em auto 0;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}
.hzusage-footer p {
    margin-bottom: 0;
}
.hzusage-address {
    margin-top: 30px;
}

/**Modernisierung**/
.modern-content-full {
    width: 94%;
    background: url(../images/modern-bg.png) no-repeat;
    background-size: 100% 100%;
    padding: 6em 10em 11em 11em;
    position: relative;
    left: 6.9%;
}
.modern-content-full .summary-shadow {
    position: absolute;
    left: unset;
    right: 0;
}
button.btn-modern {
	background: url(../images/btn-modern.png) no-repeat;
	background-size: 100% 100%;
	font-weight: bold;
	font-size: 30px;
    line-height: 4.2em;
    text-align: center;
    color: #97E66F;
    width: 480px;
    height: 110px;
    display: inline-block;
	margin: 2em 5em;
}
/**Projektfinanzierung**/
.projekt-content-full {
	width: 92%;
	background: url(../images/projekt-bg.png) no-repeat;
    background-size: 100% 100%;
	padding: 6em 14em 4em 8em;
	position: relative;
	left: -12px;
}
.projekt-content p {
    margin-bottom: 34px;
}
.projekt-content p.txt-large{
	font-size: 36px;
}
.projekt-content-full button.btn-projekt {
	background: url(../images/btn-projekt.png) no-repeat;
}
/**Terminvereinbarung**/
.termin-content,
.kontakt-content,
.uber-content {
    width: 80%;
    text-align: center;
    margin: 1em auto 6em;
}
.termin-content h2,
.kontakt-content h2,
.uber-content h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 63px;
    text-align: center;
    color: #4A4A4A;
	margin-bottom: 35px;
	position: relative;
    z-index: 1;
}
.termin-content p,
.kontakt-content p,
.uber-content p {
	width: 65%;
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #4A4A4A;
	margin: 0 auto;
    text-shadow: 0px 0px 0px #000;
	position: relative;
    z-index: 1;
}
.termin-content-full .unser-team {
    width: 90%;
}
.block-quotes{position: relative;}
.block-quotes:before,
.block-quotes:after {
	background-size: 100% 100%;
	content: '';
	width: 130px;
    height: 130px;
    display: inline-block;
	position: absolute;
	z-index: 0;
}
.block-quotes:before {
	background: url(../images/quote-before.png) no-repeat;
    left: 8.7em;
    top: 6em;
}
.block-quotes:after {
	background: url(../images/quote-after.png) no-repeat;
    top: -40px;
    right: 8.1em;
}
.kontakt-content-full .block-quotes:after {
    right: 8.6em;
}
.kontakt-content {
    margin: 1em auto 3em;
}
.kontakt-content p {
    width: 58%;
}
.kontakt-form {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 16%);
    border-radius: 46px;
    width: 62%;
    margin: 0 auto 10em;
    padding: 6em 6em 4em;
	position: relative;
}
.form-kontakt {
    position: relative;
    z-index: 1;
}
.kontakt-form:before,
.kontakt-form:after {
	background-size: 100% 100%;
	content: '';
    display: inline-block;
	position: absolute;
	z-index: 0;
}
.kontakt-form:before {
	background: url(../images/form-quote-before.png) no-repeat;
    right: 0;
    top: -15px;
	width: 310px;
	height: 310px;
}
.kontakt-form:after {
	background: url(../images/form-quote-after.png) no-repeat;
    bottom: 0;
    left: 0;
	width: 510px;
	height: 510px;
}
.kontakt-form input.form-control {
    background: #FDFDFD;
    border: 3px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 0px 45px 45px 45px;
    height: 60px;
}
.kontakt-form .form-label {
    font-size: 21px;
    line-height: 35px;
    text-align: center;
    color: #4A4A4A;
}
.kontakt-form .form-input {
    margin-bottom: 3em !important;
}
.kontakt-form .form-textarea .form-control {
	background: #FDFDFD;
	border: 3px solid #DCDCDC;
	box-sizing: border-box;
	border-radius: 0px 45px 45px 45px;
	min-height: auto !important;
}
.form-note {
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    color: #4A4A4A;
    margin-bottom: 10px;
}
.kontakt-form .form-check-input {
	border: 3px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 0px 14.5px 14.5px 14.5px;
    height: 25px;
    width: 25px;
	display: inline-block;
    margin-right: 20px;
}
.kontakt-form label.form-check-label {
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    color: #4A4A4A;
	display: inline-block;
    width: 95%;
}
.kontakt-form .form-button {
    text-align: center;
}
.kontakt-form button.btn-senden {
    background: url(../images/senden-bg.png) no-repeat;
    background-size: 100% 100%;
    font-weight: bold;
    font-size: 28px;
    line-height: 45px;
    text-align: center;
    color: #018343;
    width: 44%;
    height: 80px;
    margin-top: 3em;
}
/**Uber-uns**/
.single-uber-content {
    width: 85%;
	color: #4A4A4A;
    margin: 0 auto 8em;
}
.uber-details-full {
    display: flex;
    flex-direction: row;
	margin-bottom: 3em;
}
.uber-details-full > img {
    margin-right: 4em;
}
.uber-details {
	width: 100%;
    margin-top: 25px;
}
.uber-details h3 {
    font-weight: bold;
    font-size: 48px;
    line-height: 63px;
	margin-bottom: 0;
}
h6.sub-title {
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
	margin-bottom: 1em;
	text-shadow: 0px 0px 0px #000;
}
.sub-detail {
    font-size: 18px;
    line-height: 40px;
	margin-bottom: 20px;
	position: relative;
}
.single-uber-content p {
	font-size: 24px;
	line-height: 40px;
}
button.btn-uber,
button.btn-kontakt {
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
}
.button-uber {
    margin-top: 35px;
}
button.btn-uber {
	background: url(../images/btn-termin.png) no-repeat;
    background-size: 100% 100%;
    color: #97E66F;
    margin-right: 2em;
    padding: 45px 2.5em 25px;
}
button.btn-kontakt {
	background: url(../images/btn-kontakt-bg2.png) no-repeat;
    background-size: 100% 100%;
    color: #FFFFFF;
	padding: 22px 3em 25px;
}
.kontakt-button {
	display: inline-block;
    padding-left: 20px;
	position: relative;
}
.kontakt-button > img {
    position: absolute;
    width: 96%;
    top: -22px;
    left: 26px;
    z-index: -1;
}
.sub-detail:before {
    content: '';
    background-size: 100% 100%;
    display: inline-block;
	vertical-align: text-bottom;
    margin-right: 25px;
}
.birth-date.sub-detail:before {
    background: url(../images/icon-birthday.png) no-repeat;
    width: 25px;
    height: 30px;
}
.education.sub-detail:before {
    background: url(../images/icon-edu.png) no-repeat;
    width: 30px;
    height: 24px;
}
.people-no.sub-detail:before {
    background: url(../images/icon-people.png) no-repeat;
    width: 30px;
    height: 20px;
}
.occupation.sub-detail:before {
    background: url(../images/icon-occupation.png) no-repeat;
    width: 25px;
    height: 23px;
	position: absolute;
    top: 7px;
}
.sub-detail span {
    width: 103%;
    display: inline-block;
    padding-left: 55px;
}

.content-impress {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.content-daten {
	width: 80%;
    margin: 0 auto;
}
.content-impress h2{
    font-size: 34px;
    font-weight: 800;
    margin-bottom: 20px;
}
.content-daten h2 {
    font-size: 28px;
}
.content-impress h3,
.content-daten h5 {
    font-size: 18px;
	font-weight: 800;
}
.content-impress p,
.content-daten p {
    margin-bottom: 10px;
}
.content-impress ul {
    display: inline-block;
}
.content-impress a,
.content-daten a {
    text-decoration: underline;
}
.content-daten h6 {
    font-weight: 800;
}
.content-daten .retch-details p {
	margin-bottom: 0;
}
.content-daten .retch-details .p-break {
	margin: 10px 0;
}